﻿@model ITManiaX.WebUI.Models.ContentModel
@{
    ViewBag.Title = Model.Application.ApplicationName + " - " + Model.Curriculum.CurriculumName;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var callToAction = Model.CallToActionTemplates.Where(c => c.CallToActionName == "Demo Request").First();
}
<div class="row">
    <div class="col-md-8" style="min-height:600px">
        <h3 class="curriculum">
            @Model.Curriculum.CurriculumName
        </h3>
        @if (Model.Curriculum.Price.HasValue)
        {
            var displayPrice = string.Empty;
            if (Model.Curriculum.Price.Value > 0)
                {
                    displayPrice = string.Format("{0:c}", Model.Curriculum.Price);
            <span class="label label-danger">                
                @displayPrice
            </span>
            <br />
            <br />
            }
        }
        <ul class="list-group">
            @foreach (var c in Model.Curriculum.Curricula)
            {
                var listClass = string.Empty;
                if (c.Courses == null)
                {
                    listClass = "list-group-item";
                }
                else
                {
                    listClass = "list-courses";
                }
                if (c.IsActive)
                {
                    var displayPrice = string.Empty;
                    if (c.Price.HasValue)
                    {
                        if (c.Price.Value > 0)
                        {
                            displayPrice = "<span class=\"label label-danger\">" + string.Format("{0:c}", c.Price) + "</span>";
                        }
                    }

                    <li class="@listClass">
                        @if (c.Courses != null)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @c.CurriculumName
                                    @if(c.Price.HasValue)
                                    { 
                                    if (c.Price.Value > 0)
                                    {
                                        displayPrice = string.Format("{0:c}", c.Price);
                                        <span class="label label-danger">
                                            @displayPrice
                                        </span>
                                    }
                                    }
                                    <br />
                                    <span class="label label-warning">@c.TotalExpectedDuration hours</span>
                                </div>
                                <div class="panel-body">
                                    @foreach (var cc in c.Courses)
                                    {
                                        <div>
                                            @cc.Asset_Title - <span style="font-size:12px">@cc.Expected_Duration minutes</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.ActionLink(c.CurriculumName, "Curriculum", new { curriculumId = c.CurriculumId, slug = Html.Slug(c.CurriculumName) }, new { style = "color:black" }) <br /> @Html.Raw(displayPrice)
                        }
                    </li>
                }
            }
        </ul>

    </div>
    <div class="col-md-4">
        <h3 class="curriculum">@callToAction.CallToActionName</h3>
        <form id="callToAction">
            @foreach (var f in Model.CallToActionTemplateFields.Where(cf => cf.CallToActionTemplateId == callToAction.Id))
            {
                <div class="form-group">
                    <label class="control-label" for="@f.CallToActionFieldName.Replace(' ', '-')">@f.CallToActionFieldName</label>
                    @if (f.CallToActionFieldType == "Multiline")
                    {
                        <textarea class="form-control" name="@f.CallToActionFieldName.Replace(' ', '-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName"></textarea>
                    }
                    else
                    {
                        <input type="text" class="form-control" name="@f.CallToActionFieldName.Replace(' ','-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName">
                    }
                </div>
            }
            <button type="button" id="callToActionButton" class="btn btn-default">Submit</button>
            <div id="validationMessages">

            </div>
        </form>
        <input type="hidden" id="callToActionTemplateId" value="@callToAction.Id" />
        <input type="hidden" name="pageId" id="pageId" value="" />
        <input type="hidden" name="curriculumId" id="curriculumId" value="@Model.Curriculum.CurriculumId" />
    </div>
</div>
