﻿@model ITManiaX.WebUI.Models.ContentModel
@{
    ViewBag.Title = Model.Application.ApplicationName + "Curricula";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var callToAction = Model.CallToActionTemplates.Where(c => c.CallToActionName == "Demo Request").First();
}

<div class="row">
    <div class="col-md-8" style="min-height:600px">
        <h3 class="curriculum">
            Our Library
        </h3>
        <ul class="list-group">
            @foreach (var c in Model.FrontPageCurricula)
            {
                <li class="list-group-item">@Html.ActionLink(c.CurriculumName, "Curriculum", new { curriculumId = c.CurriculumId, slug = Html.Slug(c.CurriculumName) }, new { style = "color:black" })</li>
            }
        </ul>

    </div>
    <div class="col-md-4">
        <h3 class="curriculum">@callToAction.CallToActionName</h3>
        <form id="callToAction">
            @foreach (var f in Model.CallToActionTemplateFields.Where(cf => cf.CallToActionTemplateId == callToAction.Id))
            {
                <div class="form-group">
                    <label class="control-label" for="@f.CallToActionFieldName.Replace(' ', '-')">@f.CallToActionFieldName</label>
                    @if (f.CallToActionFieldType == "Multiline")
                    {
                        <textarea class="form-control" name="@f.CallToActionFieldName.Replace(' ', '-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName"></textarea>
                    }
                    else
                    {
                        <input type="text" class="form-control" name="@f.CallToActionFieldName.Replace(' ','-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName">
                    }
                </div>
            }
            <button type="button" id="callToActionButton" class="btn btn-default">Submit</button>
            <div id="validationMessages">

            </div>
        </form>
        <input type="hidden" id="callToActionTemplateId" value="@callToAction.Id" />
    </div>
</div>

