﻿@model ITManiaX.WebUI.Models.ContentModel
@{
    ViewBag.Title = Model.Application.ApplicationName + " - " + Model.CurrentMessageSequence.CallToActionMessageTitle;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-8" style="min-height:600px">
        @Html.Raw(Model.CurrentMessageSequence.CallToActionMessageContent)
    </div>
    <div class="col-md-4">

    </div>
</div>

