﻿@model ITManiaX.WebUI.Models.ContentModel
@{
    ViewBag.Title = Model.ApplicationProperties.Where(t => t.ApplicationPropertyName == "Page Title").First().ApplicationPropertyValue;
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
    var callToAction = Model.CallToActionTemplates.Where(c => c.CallToActionName == "General Enquiry").First();
}

<div class="row">
    <div class="col-md-8">
        @foreach (var c in Model.FrontPageCurricula)
        {
            var split = from index in Enumerable.Range(0, c.Curricula.Count)
                        group c.Curricula[index] by index / 3;
            <div class="row">
                <div class="col-md-12">
                    <h3 class="curriculum">
                        @c.CurriculumName
                    </h3>
                </div>
            </div>
            foreach (var s in split)
            {
                <div class="row">
                    @foreach (var ci in s)
                    {
                        <div class="col-md-4 col-xs-4 certification">
                            @Html.ActionLink(ci.CurriculumName, "Curriculum", new { curriculumId = ci.CurriculumId, slug = Html.Slug(ci.CurriculumName) })
                        </div>
                    }
                </div>
            }
        }
    </div>
    <div class="col-md-4">
        <h3 class="curriculum">@callToAction.CallToActionName</h3>
        <form id="callToAction">
            @foreach (var f in Model.CallToActionTemplateFields.Where(cf => cf.CallToActionTemplateId == callToAction.Id))
            {
                <div class="form-group">
                    <label class="control-label" for="@f.CallToActionFieldName.Replace(' ', '-')">@f.CallToActionFieldName</label>
                    @if (f.CallToActionFieldType == "Multiline")
                    {
                        <textarea class="form-control" name="@f.CallToActionFieldName.Replace(' ', '-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName"></textarea>
                    }
                    else
                    {
                        <input type="text" class="form-control" name="@f.CallToActionFieldName.Replace(' ','-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName">
                    }
                </div>
            }
            <button type="button" id="callToActionButton" class="btn btn-default">Submit</button>
            <div id="validationMessages">

            </div>
        </form>
        <input type="hidden" id="callToActionTemplateId" value="@callToAction.Id" />
    </div>
</div>
