﻿@model ITManiaX.WebUI.Models.ContentModel
@{
    ViewBag.Title = Model.Application.ApplicationName + " - " + Model.Page.PageTitle;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var callToAction = Model.CallToActionTemplates.Where(c => c.Id == Model.Page.CallToActionTemplateId).First();
}

<div class="row">
    <div class="col-md-8" style="min-height:600px">
        <h3 class="curriculum">
            @Model.Page.PageTitle
        </h3>
        @Html.Raw(Model.Page.PageContentMarkDown)
    </div>
    <div class="col-md-4">
        <h3 class="curriculum">@callToAction.CallToActionName</h3>
        <form id="callToAction">
            @foreach (var f in Model.CallToActionTemplateFields.Where(cf => cf.CallToActionTemplateId == callToAction.Id))
            {
                <div class="form-group">
                    <label class="control-label" for="@f.CallToActionFieldName.Replace(' ', '-')">@f.CallToActionFieldName</label>
                    @if (f.CallToActionFieldType == "Multiline")
                    {
                        <textarea class="form-control" name="@f.CallToActionFieldName.Replace(' ', '-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName"></textarea>
                    }
                    else
                    {
                        <input type="text" class="form-control" name="@f.CallToActionFieldName.Replace(' ','-')" id="@f.CallToActionFieldName.Replace(' ', '-')" placeholder="@f.CallToActionFieldName">
                    }
                </div>
            }
            <button type="button" id="callToActionButton" class="btn btn-default">Submit</button>
            <div id="validationMessages">

            </div>
        </form>
        <input type="hidden" id="callToActionTemplateId" value="@callToAction.Id" />
        <input type="hidden" name="pageId" id="pageId" value="@Model.Page.Id" />
        <input type="hidden" name="curriculumId" id="curriculumId" value="0" />
    </div>
</div>

