﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;  
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:Calibri;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.clear
{
     clear: both;
}
body {
	background-color:White;
	font-size: 15px;
    font-family: Calibri, sans-serif;
    line-height: 130%;
}
.main-header-container
{
    height:80px;
    width:100%;
    border-bottom: 2px solid #d81414;
    clear:both;
    background-color: #EBEBEB; 
    /* -webkit-box-shadow:  0px 2px 9px 0px rgba(0, 0, 0, 0.25); */        
    /* box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25); */
}
.content-container
{
    clear:both;
}
.content-spacing-wrapper
{
    
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    height:100%;
}
.content-header-logo
{
    width:33%;
    float:left;
}
.content-header-logo img
{
    padding-top:18px;
}
.content-header-slogan
{
    width:33%;
    float:left;
    text-align:center;
}
.content-header-slogan h1
{
    font-size:20px;
    line-height:80px;
    color:black;
}
.content-header-slogan span
{
    color:#d81414;
    font-weight:bold;    
    text-transform: uppercase;
    font-size: 26px;
}
.content-header-sign-in
{
    width:32%;
    float:left;
}
.user-login
{
    float:right;
    display:block;
    line-height:80px;
    text-transform: uppercase;
    font-size:20px;
    cursor:pointer;
}
.user-login a
{
    height: 80px;
    min-width: 60px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    font-size:20px;
    color:black;
    
}
.user-login-active
{
    background-color:#d81414;
    color:White;
}
.user-login ul
{
    list-style-type: none;
}
.banner-container
{
    height: 380px;
    background-color: white;
    width: 100%;
    padding: 70px 0;
}
.banner-intro-left
{
    width: 32%;
    float: left;
    margin-left: 90px;
}
.banner-intro-right
{
    width: 60%;
    float: right;
    text-align: right;
    z-index:400;
}
.banner-intro-left span
{
    color:Black;
    font-size:36px;
    padding-right:10px; 
}
.banner-intro-left ul
{
    list-style-type: none;
    padding-bottom:25px;
}
.banner-intro-left li
{
    padding:3px 0;
    font-size:17px;
    font-weight:bold;
}
.banner-intro-left p
{
    padding-bottom:10px;
    font-size:17px;
    width:350px;
}
.banner-intro-left i
{
    padding-right:8px;
}

.mid-navigation
{
    width:100%;
    min-height:80px;
    background-color:Black;
    border-bottom: 2px solid #d81414;
    background-image:url(images/footerBG.jpg);
    z-index:1000;
}
.mid-navigation ul
{
    list-style-type: none;
    
}
.mid-navigation li
{
    display:inline; 
}
.mid-navigation a
{
    line-height:80px;
    display:block;
    color:White;
    height: 80px;
    width:220px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    font-size:18px;
    float:left;
    padding: 0 8px;
}
.mid-navigation a:hover 
{
    background-color:#d81414;
    color:White;  
}

.domain-table-container.math {
    border-top: 2px solid #d81414;
}

.domain-table-container .domain-table {
    border-collapse: collapse;
    margin: 0 0 22px;
    width: 100%;
}
.table tr:first-child .subject-cell {
    border-top: 0;
}
.table tr:first-child .subject-cell-small {
    border-top: 0;
}
.domain-table-container .domain-table .subject-cell {
    background: #f7f7f7;
    border: 1px solid #ddd;
    width: 33%;
}
.domain-table-container .domain-table .subject-cell-small {
    background: #f7f7f7;
    border: 1px solid #ddd;
    width: 33%;
    height:46px;
    
}
.domain-table-container .domain-table .subject-cell .subject-link {
    display: block;
    padding: 8px 10px;
}
.domain-table-container .domain-table .subject-cell-small .subject-link {
    display: block;
    padding: 8px 10px;
}
.domain-table-container a {
    color: #464444;
    text-decoration: none;
}
.domain-table-container.math .subject-cell:hover .subject-link {
    background: #d81414;
    color: #fff;
    text-decoration: none;
} 
.domain-table-container.math .subject-cell-small:hover .subject-link {
    background: #d81414;
    color: #fff;
    text-decoration: none;
    padding-bottom:18px;
}
.domain-header.math {
    color: #d81414;
    font-size:30px;
    text-decoration:none; 
    padding:0 0 10px 0;
}
.content-left-container
{
    float:left;
    width:65%;
}
.content-left-container h3
{
    font-size:30px;
    color:#d81414;
    padding:20px 0 10px 0;
    line-height:100%;
}
.content-right-container
{
    float:left;
    width:31%;
    margin-left:30px;
}
.content-right-wrapper
{
    padding:20px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-top: 2px solid #d81414;
}

.why-intro
{
    padding-bottom:20px;
}
.why-headers
{
}  
.requestInformationInput
{
    padding:0 0 8px 0;
}
.requestInformationInput h4
{
    font-size:14px;
    padding: 0 0 8px 0;
    color:#a599a5;
}
.requestInformationInput textarea {
    resize: none;
}
.socialMedia
{
}
.socialMedia ul
{
    list-style-type: none;   
}
.socialMedia li 
{
    display:inline; 
    
}
.socialMedia a
{
    text-decoration: none;
    padding-right:10px;
}

.requestInformation h3{
    font-size: 30px;
    color:#d81414;
    padding: 0 0 20px 0;
}

.footer-container
{
    clear:both;
    margin-top:20px;
    background-color:Black;
    min-height:250px;
    line-height:20px;
    border-top: 2px solid #d81414;
    background-image:url(images/footerBG.jpg);
}

#carousel-wrapper 
{
    background-color: #fff;
    width: 100%;
    height: 50%;
    margin-top: 70px;
}
#carousel-container div 
{
    text-align: center;
    width: 200px;
    height: 150px;
    float: left;
    position: relative;
    padding:0 10px;
}
#carousel-container div img 
{    
    border: none;
    width:115px;
    height:91px;
}
#carousel-container div span 
{
    display: none;
}
#carousel-container div:hover span 
{			    
    background-color: #333;
    color: #fff;
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 3px;
}

.footer-left-container
{
    float:left;
    width:180px;
    margin-top:20px;
    margin-right:20px;
}

.footer-left-container h3
{
    color:white;
    font-size:20px;
    padding:30px 0 20px 0;
}

.footer-left-container ul
{
    list-style-type: none; 
}
.footer-left-container li a
{
    padding:3px 0;
    color:White;
    font-size:13px;
}
.footer-left-container a:hover
{
    padding:5px 0;
    color:#d81414;
}
.footer-center-container
{
    float:left;
    width:180px;
    padding: 0 0 0 20px;
    margin-top: 20px;
    margin-right:20px;
}

.footer-center-container h3
{
    color:white;
    font-size:20px;
    padding:30px 0 20px 0;
}
.footer-center-container ul
{
    list-style-type: none; 
}
.footer-center-container li
{
    padding:2px 0;
    color:White;
    font-size:13px;
}
.footer-center-container a
{
    color:#d81414;
}

.footer-center-container a:hover
{
    color:#d81414;
}
.footer-center-container p 
{
    padding:2px 0 10px 0;
    color:White;
    font-size:13px;
}
.footer-right-container
{
    width:440px;
    height:135px;
    float:left;
    margin-top: 50px;
    margin-left: 60px;
}

.footer-right-container p
{
    color: white;
    text-align: center;
    font-size: 12px;
}
.footerTC

{   
    margin-top:50px;
    clear:both;
    height:30px;
}
.tcContainer
{
    width:965px;
    margin-left:auto;
    margin-right:auto;
    font-size:13px;
    color:#b1b1b1;
    text-align:center;
}
.tcContainer a
{
    color:#b1b1b1;
}
.tcContainer a:hover
{
    color:#b1b1b1;
}

.sales-rep-info
{
    color:white;
    font-size: 14px;
}
.sales-rep-info tr
{
    height: 22px;
}
.sales-rep-info td
{
    padding:0 20px 0 0;
}
#panelThatSlides
{
    display: none;
    background: black; 
    width: 100%; 
    height: 45px;
    position: relative;
}
#contentThatFades
{
    position: relative; 
    display: none;
    background: #d81414; 
    width: 100%; 
}
.login-input-container
{
    float:left;
    width:40%;
    margin-top:7px;
}
.login-btn-container
{
    float:left;
    width:20%;
    margin-top:7px;
}


.user-navigation
{
    width:100%;
    min-height:80px;
    background-color:Black;
    border-bottom: 2px solid #d81414;
    background-image:url(images/footerBG.jpg);
}
.user-navigation ul
{
    list-style-type: none;
    float:left;
    
}
.user-navigation li
{
    display:inline; 
}
.user-navigation a
{
    line-height:80px;
    display:block;
    color:White;
    height: 80px;
    width:180px;
    padding: 0 10px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    font-size:16px;
    float:left;
}
.user-navigation a:hover 
{
    background-color:#d81414;
    color:White;  
}
.siteManagement-wrapper
{
    min-width:1000px;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    height:100%;
}
.banner-wrapper
{
    width:985px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

.productContent
{    
  float:left;
  width:95%;
  color: #535353;
  background-color:White;    
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px; 
  padding: 20px;
    background: #f7f7f7;
    border: 1px solid #ddd;
} 
    
.subContentHeader
{
    float:left;
    margin-top: 18px;
    height: 34px;
}
.subMainContentHeader
{
    float:left;
}
.subContentHeader h2
{ 
    font-size: 32px;
    padding: 0 15px 20px 0;
    text-align: left;
    color:#d81414;
}
.subMainContentHeader h2
{
    font-size: 32px;
    padding: 0 15px 20px 0;
    text-align: left;
}


.subContentVideoTitle h2
{
    font-size: 32px;
    padding: 1px 0 20px 28px;
    text-align: left;
}
.subContentVideo img
{
    padding:0 0 0 30px;
}
.subContentBody
{
    width:285px;
}

.subContentRight
{
    padding:25px 0 0 0;
    width:67%;
    float:right;
    text-align: right;
}

.productContent i
{
    padding: 0 5px 0 0;
    margin-top: 2px;
}
.productContent ul
{
    padding:0 0 10px 0;
      list-style-type: none;
      font-size:16px;
}
.productContent li
{
    font-size:16px;
    padding:25px 0 0 0;
}
.productContent iframe
{
    padding:10px 0 ;    
}

.productContent h3
{
    padding:20px 0 ;    
    border-top:1px solid #cccccc;
    font-size:24px;
    color:#d81414;
}
.productContent p
{
    padding: 0 0 20px 0;
}
.you-online-list
{
    list-style:none;
    padding-bottom:10px;
    padding-top:20px;
}
.you-online-list li
{
    padding:10px 0;
}
.you-online-list i 
{
    padding-right:10px;
}
.you-chev
{
    float:left;
    padding:20px 10px 0 0;
    width:20px;
}
.you-text
{
    float:left;
    padding:20px 0 0 0;
    width:580px;
}
.you-video
{
    padding:20px 0 0 0;
}
.why-headers
{
    padding: 20px 0;
    border-top: 1px solid #cccccc;
    font-size: 24px;
    color: #d81414;
}
.content-right-wrapper ol
{
    padding:20px 0 5px 20px;
}

.product-container h3
{
    border-bottom: 2px solid #d81414;
}


.product-detail-list ul
{
    padding-left:17px;
}
.product-detail-list li
{
    padding-bottom:10px;
}
.product-detail-list h5
{
    font-size:18px;
    padding:10px 0;
    font-weight:bold;
}
.product-detail-header h4
{
    padding:15px 0 15px 0;
    font-size:24px;
}
.product-detail-price h5
{
    font-size:18px;
    padding:5px 0;
    font-weight:bold;
}
.product-detail-price p 
{
    width: 120px;
    background-color: #d81414;
    padding-top: 15px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight:bold;
}

.product-detail-price
{
}

.product-detail-overview h1
{
    font-size:18px;
    padding:5px 0; 
    font-weight:bold;
    
}
.product-detail-overview p
{
    padding:5px 0;
}

.product-detail-duration h5
{
    font-size:18px;
    padding:10px 0;
    font-weight:bold;
}

.message-google-map
{
    border: 1px solid #ddd;
}

.messageSequenceContent h2
{
    
}
.message-google-map
{
}
.message-google-map-iframe
{
    padding: 5px 5px 0 5px;
}

.video-content-text
{
    padding:5px 0 15px 0;
}
.call-to-action-text
{
    padding:5px 0;
}

.steps
{
    font-size:16px;
    font-weight:bold;
    padding:30px 0 10px 0;
}
.steps i 
{
    padding:0 5px 0 0;
}
.user-guide-content
{ 
    float:left;
    width:500px;
    padding: 0 0 0 20px;
}
.user-guide-content ul
{
    list-style:none;
}
.user-guide-content li
{
    padding:5px 0;
}
.user-guide-content i
{
    padding: 0 2px 0 5px; 
}
.user-guide-content-img 
{
    width:630px;
    float:left;
    padding-bottom: 10px;
}
.content-right-container h3
{
    font-size: 30px;
    color: #d81414;
    padding: 20px 0 10px 0;
    line-height:100%;
}
.why-text
{
    padding: 0 0 20px 0;
}
.header-intro-cta
{
    padding-bottom:15px;
}
.tab-content b 
{
    font-weight:bold;
}
.vendor-list
{
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #464444;
    
    display: block;
    padding: 8px 10px;
}
.vendor-list:hover
{
    color: white;
    text-decoration: none;
    background-color:#d81414;
}
.vendor-list a
{
    color: #464444;
    text-decoration: none;
}

}
.vendor-list:hover > a   
{
    color: white;
    text-decoration: none;
    background-color:#d81414; 
}
.vendor-list:hover > .vendor-action a   
{
    color: white;
    text-decoration: none;
    background-color:#d81414; 
}
.vendor-list span
{
    color:#d81414;
    font-weight:bold;
}

.vendor-list:hover > .vendor-price span    
{
    color: white;
}

.vendor-list:hover > span   
{
    color: white;
}
.vendor-action
{
    width:85%;
    float:left;
}
.vendor-price
{
    width:15%;
    float:left;
    text-align:right;
}

.box-small {
	text-align: center;
	position: relative;
	display: block;
	margin: 20px;

}

.box-small-link {
	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 30px 0px;
	font-size: 26px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0px 1px 1px #fff;
}

.box-small-link:hover {
	border: 1px solid #3c4049;
	margin-bottom: -1px;
  	padding: 30px 0px;
  	color: #fff;
  	background-color: #4e525d;
  	background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e525d), to(#3c4049));
  	background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -o-linear-gradient(top, #4e525d, #3c4049);
  	background-image: linear-gradient(to bottom, #4e525d, #3c4049);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0);
	text-shadow: 0px 1px 1px #000;
	text-decoration: none;
}

.box-small-title {
	width: 100%;
	margin: 10px auto;
	font-size: 15px;
	color: #aaa;
	text-shadow: 0px 1px 1px #fff;
}



.box {
	margin: 20px 0px;
}


.box-header {
	height: 20px;
  	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 10px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
     	-moz-box-shadow: none;
          box-shadow: none;
  	-webkit-border-radius: 2px 2px 0px 0px;
       -moz-border-radius: 2px 2px 0px 0px;
          	border-radius: 2px 2px 0px 0px;
	overflow: hidden;
}

.box-header h2{
	font-size: 16px;
	line-height: 16px;
	float:left;
	margin-top: 2px;
	color: #646464;
	font-weight: normal;
	text-shadow: 0px 1px 0px #fff;
}

.box-header h2 i{
	margin: 1px 3px 0px 5px;
	opacity: .4;
}

.box-header .break{
	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #ddd;
	margin: -12px 10px -10px 10px;
	padding: 12px 0px 10px 0px;
	
}

.box-header .box-icon {
	float:right;
	margin-top: 1px;
}

.box-header .box-icon i {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	opacity: .4;
}

.box-header .box-icon i:hover {
	opacity: .8;
}

.box-header .box-icon a {
	margin: 0px 5px;
}

.box-content {
  	margin-top: -1px;
	padding: 10px;
  	border: 1px solid #ddd;
  	background: #fcfcfc;
  	-webkit-border-radius: 0px 0px 2px 2px;
	   -moz-border-radius: 0px 0px 2px 2px;
          	border-radius: 0px 0px 2px 2px;
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
	   -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
			box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
}
ul.tickets {
	margin:0;
}

ul.tickets li {
	list-style: none;
	padding: 5px 0;
  	border-top: 1px solid #fff;
	border-bottom: 1px solid #ebebeb;
	font-size: 12px;
}

ul.tickets li:first-child {
	border-top: none;
	border-bottom: 1px solid #ebebeb;
}

ul.tickets li:last-child {
	border-bottom: none;
}


ul.tickets li.ticket .header {
	width: 100%;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
}

ul.tickets li.ticket .header .title {
	float: left;
	text-align: left;
}

ul.tickets li.ticket .header .number {
	float: right;
	text-align: right;
}

ul.tickets li.ticket .avatar img {
	height: 36px;
	width: 36px;
	padding: 1px;
	float: left;
	margin-top: 1px;
	margin-right: 10px;
	border: 1px solid #EBEBEB;
}

ul.tickets li.ticket .content{
	display: inline-block;
	width: 100%;
}

ul.tickets li.ticket .content .name,
ul.tickets li.ticket .content .status {
	float: left;
	text-align: left;
	width: 50%;	
}

ul.tickets li.ticket .content .priority,
ul.tickets li.ticket .content .date {
	float: right;
	text-align: right;	
}
.green {
	color: #78CD51;
}

.red {
	color: #FA603D;
}

.blue {
	color: #67C2EF;
}

.yellow {
	color: #FABB3D;
}
.box a {
	color: #646464;
}
.morris-hover{position:absolute;z-index:1000;}
.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}

.box-small {
	text-align: center;
	position: relative;
	display: block;
	margin: 20px;

}

.box-small-link {
	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 30px 0px;
	font-size: 26px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0px 1px 1px #fff;
}

.box-small-link:hover {
	border: 1px solid #3c4049;
	margin-bottom: -1px;
  	padding: 30px 0px;
  	color: #fff;
  	background-color: #4e525d;
  	background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e525d), to(#3c4049));
  	background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -o-linear-gradient(top, #4e525d, #3c4049);
  	background-image: linear-gradient(to bottom, #4e525d, #3c4049);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0);
	text-shadow: 0px 1px 1px #000;
	text-decoration: none;
}

.box-small-title {
	text-align: center;
	margin: 10px auto;
	font-size: 16px;
	color: #aaa;
	text-shadow: 0px 1px 1px #fff;
}



.box {
	margin: 20px 0px;
}


.box-header {
	height: 20px;
  	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 10px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
     	-moz-box-shadow: none;
          box-shadow: none;
  	-webkit-border-radius: 2px 2px 0px 0px;
       -moz-border-radius: 2px 2px 0px 0px;
          	border-radius: 2px 2px 0px 0px;
	overflow: hidden;
}

.box-header h2{
	font-size: 16px;
	line-height: 16px;
	float:left;
	margin-top: 2px;
	color: #646464;
	font-weight: normal;
	text-shadow: 0px 1px 0px #fff;
}

.box-header h2 i{
	margin: 1px 3px 0px 5px;
	opacity: .4;
}

.box-header .break{
	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #ddd;
	margin: -12px 10px -10px 10px;
	padding: 12px 0px 10px 0px;
	
}

.box-header .box-icon {
	float:right;
	margin-top: 1px;
}

.box-header .box-icon i {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	opacity: .4;
}

.box-header .box-icon i:hover {
	opacity: .8;
}

.box-header .box-icon a {
	margin: 0px 5px;
}

.box-content {
  	margin-top: -1px;
	padding: 10px;
  	border: 1px solid #ddd;
  	background: #fcfcfc;
  	-webkit-border-radius: 0px 0px 2px 2px;
	   -moz-border-radius: 0px 0px 2px 2px;
          	border-radius: 0px 0px 2px 2px;
}
.breadcrumb {
	margin: -20px 0px;
	border: 0px;
	color: #aaa;
	background: transparent;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	   		box-shadow: none;
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
	        border-radius: 2px; 	
}

.breadcrumb span {
	text-shadow: 1px 1px 0px #fff;
}

.breadcrumb a {
	color: #aaa;
	text-shadow: 0px 1px 1px #fff;	
}

.breadcrumb a:hover {
	color: #646464;
	text-shadow: 0px 1px 1px #fff;
	text-decoration: none;	
}
.profile-user-info-striped {
border: 1px solid rgb(220, 235, 247);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}
.profile-user-info {
margin: 0px 12px;
}
.profile-info-row {
position: relative;
}
.profile-info-row:first-child .profile-info-name {
border-top: 0px;
}
.profile-user-info-striped .profile-info-name {
color: rgb(51, 97, 153);
background-color: rgb(237, 243, 244);
border-top: 1px solid rgb(247, 251, 255);
}
.profile-info-name {
position: absolute;
width: 110px;
text-align: right;
padding: 6px 10px 6px 0px;
left: 0px;
top: 0px;
bottom: 0px;
font-weight: normal;
color: rgb(102, 126, 153);
background-color: transparent;
border-top: 1px dotted rgb(213, 228, 241);
}
.profile-info-row:first-child .profile-info-value {
border-top: 0px;
}
.profile-user-info-striped .profile-info-value {
border-top: 1px dotted rgb(220, 235, 247);
padding-left: 12px;
}
.profile-info-value {
padding: 6px 4px 6px 6px;
margin-left: 120px;
border-top: 1px dotted rgb(213, 228, 241);
}