﻿@model ITManiaX.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "New User";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2>NewUser</h2>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group" style="margin-bottom:0">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label", style = "text-align:left" })
            </div>
            <div class="form-group" style="margin-bottom:0">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label", style = "text-align:left" })
            </div>
            <div class="form-group" style="margin-bottom:0">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label", style = "text-align:left" })
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <input type="hidden" name="ControllerName" id="ControllerName" value="Admin" />
                <br />
                <input type="hidden" name="ActionName" id="ActionName" value="Users" />
                <br />
                <input type="hidden" name="SignInUser" id="SignInUser" value="false" />
            </div>
            <div class="form-group" style="margin-bottom:0">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }
    </div>
</div>



