﻿body 
{
    min-height: 2000px;
    padding-top: 90px;
}
.curriculum
{
    font-size:30px;
    color:#d81414;
    padding:0 0 10px 0;
    line-height:100%;
    border-bottom: 2px solid #d81414;
    margin-top:0;
}
.certification a
{
    color: #464444;
}
.certification
{
    /*background: #f7f7f7;*/
    /*border-bottom: 1px solid #ddd;*/
    width: 33%;
    min-height: 46px;
    padding:5px;
}
/*.certification:hover,.certification:hover a
{
    color: #d81414;
    text-decoration: underline;
}*/
.certification a
{
    display: block;
    padding: 8px 10px;
}
.itmaniaxLogo
{
    width: 266px;
    height:75px;
    background-image:url(images/ITManiaXLogo.png);
    background-position: top left;
    background-repeat:no-repeat
}
.footer
{
    clear:both;
    margin-top:20px;
    background-color:Black;
    min-height:250px;
    line-height:20px;
    border-top: 2px solid #d81414;
    background-image:url(images/footerBG.jpg);
}
.footer h3
{
color: white;
    font-size: 20px;
    padding: 30px 0 20px 0;
}
.footer .contact ul
{
    list-style-type: none; 
    margin:0;
    padding:0
}
.footer .contact li
{
    padding:2px 0;
    color:White;
    font-size:13px;
}
.footer .contact li a
{
    color: #d81414;
}
.footer .socialMedia ul
{
    margin:0;
    padding:0;
    list-style-type: none;
}
.footer .socialMedia li
{
    display: inline;
    padding:2px 0;
    color:White;
    font-size:13px;
}
.socialMedia
{
    color:white
}

.applicationPages ul
{
    margin:0;
    padding:0;
    list-style-type: none;
}
.applicationPages li
{
    padding:2px 0;
    color:White;
    font-size:13px;
}
.applicationPages li a
{
    padding:2px 0;
    color:White;
    font-size:13px;
}
.carousel-control { background: none !important; filter: none !important; progid:none !important; }

.red .active a,
.red .active a:hover{
    background:#d81414 !important;
}
.red a:hover {
     background: #d81414 !important;
    color:white;
}
.navbar
{
        border-bottom: 2px solid #d81414;
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.product-detail-price {
    width: 120px;
    background-color: #d81414;
    padding-top: 15px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.product-detail-price-alt {
    width:70px;
    background-color: #d81414;
    padding-top: 15px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
}
.list-courses
{
    list-style-type: none;
}