﻿@model ITManiaX.WebUI.Models.ContentModel
@{
    var systemEmailAddress = Model.ApplicationProperties.Where(t => t.ApplicationPropertyName == "System Email Address").First().ApplicationPropertyValue;
    var systemApplicationUrl = "http://" + Model.ApplicationProperties.Where(t => t.ApplicationPropertyName == "System Application URL").First().ApplicationPropertyValue;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/themes/itmaniaxbase/images/itmaniaxMan.png")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="min-height:600px;padding-top:76px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "navbar-brand itmaniaxLogo", style = "height:76px" })
                @*<a class="navbar-brand itmaniaxLogo" style="height:76px" href="@systemApplicationUrl"></a>*@
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><h1 style="font-size:18px;margin-top:25px">YOUR ONLINE <span style="font-size:28px;font-weight:bold;color: #d81414">IT</span> ACADEMY</h1></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <nav class="navbar navbar-inverse" style="border-bottom:2px solid #d81414;border-radius:0">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" style="padding-left:0; padding-right:0" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Curricula", "Home")">Browse Our Library <span class="sr-only">(current)</span></a></li>
                    @foreach (var p in Model.Pages)
                    {
                            <li>
                                @Html.ActionLink(p.PageTitle, "Page", new { pageId = p.Id, slug = p.PageTitleSlug })
                            </li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 applicationPages">
                    <h3>ITMANIAX</h3>
                    <ul>
                        @foreach (var p in Model.Pages)
                        {

                                <li>
                                    @Html.ActionLink(p.PageTitle, "Page", new { pageId = p.Id, slug = p.PageTitleSlug })
                                </li>
                        }
                        @*<li><a href="#">Browse Our Library</a></li>
                        <li><a href="#">Why ITManiaX</a></li>
                        <li><a href="#">You and Online Learning</a></li>
                        <li><a href="#">Video Demos</a></li>
                        <li><a href="#">Careers</a></li>*@
                    </ul>
                </div>
                <div class="col-md-2 contact">
                    <h3>CONTACT</h3>
                    <ul>
                        <li>1 Fir Street </li>
                        <li>Observatory</li>
                        <li>Cape Town, Western Cape</li>
                        <li></li>
                        <li>+27 21 200 6721</li>
                        <li>
                            <a href="mailto:@systemEmailAddress">@systemEmailAddress</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 socialMedia">
                    <h3>FOLLOW US</h3>
                    <p>
                        Feel free to follow us to receive the latest updates on content and news!
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/#!/ITManiaX?fref=ts"
                               target="_blank">
                                <img src="@Url.Content("~/Content/themes/itmaniaxbase/images/facebook.png")" alt="Facebook" style="width: 30px;" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/channel/UC2kPp8ZV2m3Y8QNtBFDIAuQ?feature=watch" target="_blank">
                                <img src="@Url.Content("~/Content/themes/itmaniaxbase/images/youtube.png")" alt="Youtube" style="width: 30px;" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6" style="padding-top:50px;color:white">
                    <p>ITManiaX is a division of</p>
                    <a href="http://www.lrmg.co.za" target="_blank" style="border:0"><img src="@Url.Content("~/Content/images/lrmg.png")" alt="LRMG" /></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <p>
                    Copyright @DateTime.Now.Year by ITManiaX |
                    <a href="@Url.Action("Page", "Home", new { pageId = Model.TermsAndConditions.Id, slug = Model.TermsAndConditions.PageTitleSlug })" style="color:#333;font-size:13px">Terms and Conditions | </a><a href="@Url.Action("Page", "Home", new { pageId = Model.PrivacyPolicy.Id, slug = Model.PrivacyPolicy.PageTitleSlug })" style="color:#333;font-size:13px">Privacy Policy | </a>                        VAT: 4390166686 | Reg: 1997/05978/07 |  <a href="/Content/themes/itmaniaxbase/images/bbbee.jpg" target="_blank" style="color:#333;font-size:13px">B-BBEE Verfication Certificate Level 2 Contributor</a>
                </p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/itmaniax")
    @RenderSection("scripts", required: false)
</body>
</html>
