﻿@using ITManiaX.WebUI.Helpers;
@model ITManiaX.Models.Applications.DTO.ApplicationModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/themes/itmaniaxbase/images/itmaniaxMan.png")" />
    <link href="@Url.Content("~/Content/themes/itmaniaxbase/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/itmaniaxbase/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/itmaniaxbase/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main-header-container">
        <div class="content-spacing-wrapper">
            <div class="content-header-logo">
                <a href='@Url.Action("Index")'>
                    <img src="@Url.Content("~/Content/themes/itmaniaxbase/images/itmaniaxLogo.png")" alt="ITManiax Logo" />
                </a>@*<img src="@Url.Content("~/Content/themes/itmaniaxbase/images/itmaniaxLogo.png")" alt="ITManiax Logo" />*@
            </div>
            <div class="content-header-slogan">
                <h1>
                    YOUR ONLINE <span>IT</span> ACADEMY
                </h1>
            </div>
            <div class="content-header-sign-in">

                <div id="resume">
                    @if (Context.User.Identity.IsAuthenticated)
                    {

                        <div class="dropdown">
                            <a data-toggle="dropdown" class="user-login dropdown-toggle" style="color:Black;">Welcome, @Context.User.Identity.Name <i class="icon-chevron-down" style="margin-top: 5px;"></i></a><input type="hidden" id="hiddenUserName" value='@Context.User.Identity.Name' />
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="top: 55px;left: 190px;">
                                <li><a href="#" class="siteManagement">Site Management</a></li>
                                <li><a href="#" class="visitorData">Visitor Data</a></li>
                                <li><a href="#" class="callToActionTemplates">Calls to Action</a></li>
                                <li><a href="#" class="catalogue">Catalogue Management</a></li>
                                <li><a href="#" class="promotions">Promotion Management</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="applicationLogout">Logout</a></li>
                                <li>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <span class="user-login"><a class="nav" href="#" onclick="toggleSlider();">SIGN IN</a></span>
                    }
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="content-container">
        @RenderBody()
    </div>
    <div class="clear">
    </div>
    <div id="carousel-wrapper">
        <div id="carousel-container">
            @if (Model.SkillPortCurricula != null)
            {
                foreach (var v in Model.SkillPortCurricula.Where(sc => sc.IsVendor))
                {
                    <div>
                        <a href="@Url.Action("Item", new { domainObjectId = v.DomainObjectId, displayTitle = Html.Slug(v.SkillPortCurriculumName) })">
                            <img src="@Url.Content("~/Content/themes/itmaniaxbase/images/partnerlogos/" + v.SkillPortCurriculumFormattedName + ".jpg")" alt="@v.SkillPortCurriculumName" width="110" height="75" />
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="footer-container">
        <div class="content-spacing-wrapper">
            <div class="footer-left-container">
                <h3>
                    ITMANIAX
                </h3>
                <ul>
                    @if (Model.ApplicationMenus != null)
                    {
                        foreach (var m in Model.ApplicationMenus)
                        {
                            if (m.PagePosition.Contains("Footer"))
                            {
                                if (m.AlternateUrl.Length > 0)
                                {
                                    <li><a href="@m.AlternateUrl">@m.MenuItemTitle</a></li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink(m.MenuItemTitle, "Item", new { domainObjectId = m.DomainObjectId, displayTitle = Html.Slug(m.MenuItemTitle) })</li>
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <div class="footer-center-container">
                <h3>
                    CONTACT
                </h3>
                <ul>
                    <li>1 Fir Street </li>
                    <li>Observatory</li>
                    <li>Cape Town, Western Cape</li>
                    <li></li>
                    <li>+27 21 200 2380</li>
                    <li></li>
                    <li>
                        <a href="mailto:@Model.ContactEmailAddress">
                            @Model.ContactEmailAddress
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-center-container">
                <h3>
                    FOLLOW US
                </h3>
                <p>
                    Feel free to follow us to receive the latest updates on content and news!
                </p>
                <div class="socialMedia">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/#!/ITManiaX?fref=ts"
                               target="_blank">
                                <img src="@Url.Content("~/Content/themes/itmaniaxbase/images/facebook.png")" alt="Facebook" style="width: 30px;" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/channel/UC2kPp8ZV2m3Y8QNtBFDIAuQ?feature=watch" target="_blank">
                                <img src="@Url.Content("~/Content/themes/itmaniaxbase/images/youtube.png")" alt="Youtube" style="width: 30px;" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-right-container">
                <p>ITManiaX is a division of</p>
                <a href="http://www.lrmg.co.za" target="_blank" style="border:0"><img src="@Url.Content("~/Content/themes/itmaniaxbase/images/lrmg.png")" alt="LRMG" /></a>
            </div>
            <div class="clear">
            </div>
            <div class="footerTC">
                <div class="tcContainer">
                    <p>
                        Copyright 2013 by ITManiaX |
                        @if (Model.ApplicationMenus != null)
                        {
                            foreach (var m in Model.ApplicationMenus)
                            {
                                <span>@m.PagePosition</span>
                                if (m.PagePosition.Contains("Fineprint"))
                                {
                                    @Html.ActionLink(m.MenuItemTitle + " | ", "Item", new { domainObjectId = m.DomainObjectId, displayTitle = Html.Slug(m.MenuItemTitle) })
                                }
                            }
                        }
                        VAT: 4390166686 | Reg: 1997/05978/07 |  <a href="@Url.Content("~/Content/themes/itmaniaxbase/images/bbbee.jpg")" target="_blank">B-BBEE Verfication Certificate Level 2 Contributor</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/itmaniaxbase/scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-tab.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-affix.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts.Domain/pandora.web.public.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.carouFredSel-6.0.4-packed.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts.Domain/itmaniax.web.public.v2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/morris.min.js")" type="text/javascript"></script>
    @Html.Raw(Model.GoogleAnalyticsTrackingCode)
    <script type="text/javascript">

        $('a').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top
            }, 500);
            return false;
        });

        $(function () {

            var $c = $('#carousel-container'),
                    $w = $(window);

            $c.carouFredSel({
                align: false,
                items: 10,
                scroll: {
                    items: 1,
                    duration: 5000,
                    timeoutDuration: 0,
                    easing: 'linear'
                }
            });


            $w.bind('resize.example', function () {
                var nw = $w.width();
                if (nw < 990) {
                    nw = 990;
                }

                $c.width(nw * 3);
                $c.parent().width(nw);

            }).trigger('resize.example');


        });
        $('.dropdown-toggle').dropdown();
        $('.banner-container').mouseover(function () {
            $('.carousel').carousel('pause');
        });
        $('.banner-container').mouseout(function () {
            $('.carousel').carousel('cycle');
        });
        $('.carousel').carousel({
            interval: 8000
        })
        $('a').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top
            }, 500);
            return false;
        });
    </script>

</body>
</html>
