﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/themes/itmaniaxbase/images/itmaniaxMan.png")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="ITManiaX" style="padding-top: 76px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "navbar-brand itmaniaxLogo", style = "height:76px" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><h1 style="font-size:18px;margin-top:25px">YOUR ONLINE <span style="font-size:28px;font-weight:bold;color: #d81414">IT</span> ACADEMY</h1></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <nav class="navbar navbar-inverse" style="border-bottom:2px solid #d81414;border-radius:0">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" style="padding-left:0; padding-right:0" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/callsToAction">Calls To Action</a></li>
                    <li><a href="#/curricula">Curricula</a></li>
                    <li><a href="#">Promotions</a></li>
                    @*<li><a href="#/pages/@Model.Application.ApplicationId">Pages</a></li>*@
                    <li>@Html.ActionLink("Users", "Users")</li>
                    <li>@Html.ActionLink("Create User", "NewUser")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</body>
</html>
