﻿<h1>Calls to Action</h1>

<div class="row">
    <div class="col-md-5" style="margin-bottom:8px">
        <button type="button" class="btn btn-default btn-sm" ng-disabled="page == 1" ng-click="getCallsToAction(page-1)" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        {{page}}
        <button type="button" class="btn btn-default btn-sm" ng-click="getCallsToAction(page+1)" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-right:0;padding-right:0">
        <table class="table table-bordered" ng-show="callsToAction.length">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Call To Action Type</th>
                    <th>Details</th>
                    <th>Follow Up</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="callToAction in callsToAction">
                    <td style="width:10%">
                        {{callToAction.DateCreated}}
                    </td>
                    <td style=" width:20%">
                        {{callToAction.CallToActionName}}
                    </td>
                    <td style="width:60%">
                        <div ng-repeat="callToActionField in callToAction.CallToActionFields">
                            {{callToActionField.FieldName}}:&nbsp;{{callToActionField.FieldValue}}
                        </div>
                        <div ng-if="callToAction.SourceCurriculum.length">
                            Curriculum:&nbsp;{{callToAction.SourceCurriculum}}
                        </div>
                        <div ng-if="callToAction.SourcePage.length">
                            Page:&nbsp;{{callToAction.SourcePage}}
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" ng-if="!callToAction.FollowedUp" ng-click="followUpCallToAction(userName, applicationId, callToAction.Id);">Follow Up</button>
                        <span class="label label-success" ng-if="callToAction.FollowedUp">{{callToAction.FollowUpUser}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>