﻿<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#/curricula">Home</a></li>
            <li ng-repeat="crumb in curriculum.BreadCrumb"><a href="#/curricula/{{crumb.CurriculumId}}">{{crumb.CurriculumName}}</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="curriculum">
            {{curriculum.CurriculumName}}
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div ng-repeat="curriculum in curricula" class="row">
            <div class="col-md-12">
                <div ng-if ="!curriculum.Courses.length">
                    <a href="#/curricula/{{curriculum.CurriculumId}}">{{curriculum.CurriculumName}}</a>
                    <span ng-if="curriculum.IsActive" class="label label-success">Active</span>
                    <span ng-if="curriculum.Price !== null" class="label label-danger">{{curriculum.Price}}</span>
                    <span ng-if="curriculum.IsVendor" class="label label-default">Vendor</span>
                    <span ng-if="curriculum.IsFrontPage" class="label label-info">Front Page</span>
                </div>
                <div ng-if="curriculum.Courses.length" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href="#/curricula/{{curriculum.CurriculumId}}">{{curriculum.CurriculumName}}</a></h4>
                        <span class="label label-warning">{{curriculum.TotalExpectedDuration}} hours</span>
                        <span ng-if="curriculum.IsActive" class="label label-success">Active</span>
                        <span ng-if="curriculum.Price !== null" class="label label-danger">{{curriculum.Price}}</span>
                        <span ng-if="curriculum.IsVendor" class="label label-default">Vendor</span>
                        <span ng-if="curriculum.IsFrontPage" class="label label-info">Front Page</span>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="course in curriculum.Courses">
                            {{course.Asset_Title}} - <span style="font-size:12px">{{course.Expected_Duration}} minutes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="curriculum.Courses.length" class="panel panel-default">
            <div class="panel-heading">
                <span class="label label-warning">{{curriculum.TotalExpectedDuration}} hours</span>
                <span ng-if="curriculum.IsActive" class="label label-success">Active</span>
                <span ng-if="curriculum.Price !== null" class="label label-danger">{{curriculum.Price}}</span>
                <span ng-if="curriculum.IsVendor" class="label label-default">Vendor</span>
                <span ng-if="curriculum.IsFrontPage" class="label label-info">Front Page</span>
            </div>
            <div class="panel-body">
                <div ng-repeat="course in curriculum.Courses">
                    {{course.Asset_Title}} - <span style="font-size:12px">{{course.Expected_Duration}} minutes</span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <form ng-if="curriculum.CurriculumId > 0" ng-show="!showCourse">
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" value="{{curriculum.Price}}" ng-model="curriculum.Price" />
            </div>
            <div class="form-group">
                <label for="VAT">VAT</label>
                <input type="text" class="form-control" value="{{curriculum.VAT}}" />
            </div>
            <div class="form-group">
                <label for="exclVAT">Excl VAT</label>
                <input type="text" class="form-control" value="{{curriculum.ExclVAT}}" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="curriculum.IsVendor" /> Vendor
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="curriculum.IsActive" /> Active
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="curriculum.IsFrontPage" /> Front Page
                </label>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" style="height:200px" ng-model="curriculum.Description">{{curriculum.Description}}</textarea>
            </div>
            <button type="button" class="btn btn-default" ng-click="updateCurriculum(curriculum)">Update</button>
        </form>
        <form ng-show="showCourse">
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" value="{{course.Price}}" ng-model="course.Price" />
            </div>
            <div class="form-group">
                <label for="VAT">VAT</label>
                <input type="text" class="form-control" value="{{course.VAT}}" />
            </div>
            <div class="form-group">
                <label for="exclVAT">Excl VAT</label>
                <input type="text" class="form-control" value="{{course.ExclVAT}}" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="course.IsActive" /> Active
                </label>
            </div>
            <button type="button" class="btn btn-default" ng-click="updateCourse(curriculum.CurriculumId)">Update</button>
        </form>
    </div>
</div>