﻿<h1>Pages</h1>

<div class="row">
    <div class="col-md-8" style="margin-right:0;padding-right:0">
        <h3>{{page.PageTitle}}</h3>
        <form>
            <div class="form-group">
                <label for="pageTitle">Page title</label>
                <input type="text" class="form-control" value="{{page.PageTitle}}" ng-model="page.PageTitle" />
            </div>
            <div class="form-group">
                <label for="pageTitle">Page slug</label>
                <input type="text" class="form-control" value="{{page.PageTitleSlug}}" />
            </div>
            <div class="form-group">
                <label for="displayOrder">Display Order</label>
                <input type="text" class="form-control" value="{{page.DisplayOrder}}" ng-model="page.DisplayOrder" />
            </div>
            <div class="form-group">
                <label for="CallToActionTemplateId">Call to Action Template</label>
                <select class="form-control"
                        ng-model="page.CallToActionTemplateId"
                        ng-options="callToActionTemplate.Id as callToActionTemplate.CallToActionName for callToActionTemplate in callToActionTemplates"
                        name="CallToActionTemplateId"
                        id="CallToActionTemplateId"
                        data-server-validate>
                    <option value="">Please select...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pageContent">Page content</label>
                <textarea class="form-control" style="height:400px" ng-model="page.PageContentMarkDown">{{page.PageContentMarkDown}}</textarea>
            </div>
            <button type="button" class="btn btn-default" ng-click="updatePage()">Update Page</button>
            <button type="button" class="btn btn-default" ng-click="deletePage()">Delete Page</button>
        </form>
    </div>
    <div class="col-md-4">
        <h3>New Page</h3>
        <form>
            <div class="form-group">
                <label for="pageTitle">Page Title</label>
                <input type="text" class="form-control" id="pageTitle" placeholder="Page Title" ng-model="newPage.PageTitle">
            </div>
            <button type="button" class="btn btn-default" ng-click="savePage()">Save Page</button>
        </form>
        <hr />
        <h3>Pages</h3>
        <ul class="nav nav-pills red nav-stacked">
            <li role="presentation" ng-class="{active:pageItem.Id===page.Id}" ng-repeat="pageItem in pages">
                <a href="" ng-click="getPage(pageItem.Id)">{{pageItem.PageTitle}}</a>
            </li>
        </ul>
    </div>
</div>